# Dev branch — pooled (app)
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.region.aws.neon.tech/neondb?sslmode=require"
# Dev branch — direct (migrations)
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.region.aws.neon.tech/neondb?sslmode=require"

# Auth Secret
AUTH_SECRET="auth-secret"
AUTH_URL="http://localhost:3000"